{% extends "_portfolio.html" %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-5 col-md-offset-1">
			<h2>about me</h2>

			<p>Jennifer Delgado is a journalist living in Chicago, where she grew up.</p>

			<p>As a child, she read avidly, collecting short stories, fashion magazines and every single book from The Baby-sitters Club series. Her passion for words and writing began in her high school speech class.</p>

			<p>After graduating from the University of Iowa, Jennifer landed an internship at the Chicago Tribune. Since then, she's worked in various roles at the paper, covering local government, education and breaking news.</p>

			<p>In her spare time, Jennifer enjoys catching up on reading, running and traveling the world. She's also learning to cook and posting her food experiments on Instagram.</p>

		</div>

		<div class="col-md-5">
			<img src="img/DSCN0168.JPG" class="img-responsive" />
		</div>
	</div>
</div>

{% endblock %}