{% extends "_portfolio.html" %}

{% block content %}
 <style>
 nav {
 display: none;
 }
 
 body {
  padding-top: 0;
 }
 </style>

<div class="featured-image responsive">
    <img src="img/DSCN0212.JPG"/>  
      <div class="container">
          <div class="col-md-4 col-md-offset-6">
            <h1 id="main-head">jennifer delgado</h1>
            <p id="click-injunction">click to enter</p>
          </div>
      </div>
</div>

<div class="container responsive" id="about">
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <h2 id="main-font">about me</h2>

      <p>Jennifer Delgado is a journalist living in her hometown of Chicago.</p>

      <p>As a child, she read avidly, collecting short stories, fashion magazines and every single book from The Baby-sitters Club series. Her passion for words and writing began in her high school speech class.</p>

      <p>After graduating from the University of Iowa, Jennifer interned at the Chicago Tribune. Since then, she's worked in various roles at the paper, covering local government, education and breaking news.</p>

      <p>In her spare time, Jennifer catches up on reading, runs and travels the world. She's also learning to cook. You can check out photos of her latest culinary experiment on Instagram.</p>

    </div>

    <div class="col-md-4">
      <div class="me-pic2">
        <img src="img/mepic2.jpg" class="img-responsive" />
      </div>  
    </div>
  </div>
</div>






{% endblock content %}