{% extends "_portfolio.html" %}

{% block content %}
<div class="photo container">
	<div class="row">
		<div class="col-md-3">
      <div class='img-container'>
  	    <img src="img/DSCN0168.JPG" class="img-responsive" data-toggle="modal" data-target="#image1" />
      </div>
      <div class="modal fade" id="image1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <img src="img/DSCN0168.JPG" class='img-responsive' style="width: 100%; height: auto;"/>
             <p>A sunset on the edge of the Rio Tejo in Lisbon, Portugal in October 2013.</p>
          </div>
        </div>
      </div>
		</div>
    
 		<div class="col-md-3">
      <div class='img-container'>
  			<img src="img/DSCN1068.JPG" class="img-responsive" data-toggle="modal" data-target="#image2"/>
      </div>
      <div class="modal fade" id="image2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <img src="img/DSCN1068.JPG" class='img-responsive' style="width: 100%; height: auto;"/>
              <p>A view of the Iguazu Falls in Argentina in January 2014.</p>
          </div>
        </div>
      </div>
		</div>
		
    <div class="col-md-3">
      <div class='img-container'>
  			<img src="img/IMG_0086.JPG" class="img-responsive" data-toggle="modal" data-target="#image3"/>
      </div>
      <div class="modal fade" id="image3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <img src="img/IMG_0086.JPG" class='img-responsive' style="width: 100%; height: auto;"/>
              <p>Wendy having a pensive moment before bedtime.</p>
          </div>
        </div>
      </div>
		</div>
		
    <div class="col-md-3">
      <div class='img-container'>
  		  <img src="img/DSCN0399.JPG" class="img-responsive" data-toggle="modal" data-target="#image4"/>
      </div>
      <div class="modal fade" id="image4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <img src="img/DSCN0399.JPG" class='img-responsive' style="width: 100%; height: auto;"/>
               <p>One of the castles in Sintra, Portugal, where Portguese kings retreated in the summertime.</p>
          </div>
        </div>
      </div>
		</div>
	</div> 					

	<div class="row">	 
 		<div class="col-md-3">
      <div class='img-container'>
   			<img src="img/IMG_1478.JPG" class="img-responsive" data-toggle="modal" data-target="#image5"/>
      </div>
      <div class="modal fade" id="image5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <img src="img/IMG_1478.JPG" class='img-responsive' style="width: 100%; height: auto;"/>
               <p>The Chicago skyline on a spring day.</p>
          </div>
        </div>
      </div>
 		</div>
    
		<div class="col-md-3">
      <div class='img-container'>
  			<img src="img/DSCN1421.JPG" class="img-responsive" data-toggle="modal" data-target="#image6"/>
      </div>
      <div class="modal fade" id="image6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <img src="img/DSCN1421.JPG" class='img-responsive' style="width: 100%; height: auto;"/>
               <p>Flowers decorate a window in the historic town of Colonia del Sacramento, Uruguay.</p>
          </div>
        </div>
      </div>
		</div>
    
		<div class="col-md-3">
      <div class='img-container'>
  			<img src="img/IMG_0817.JPG" class="img-responsive" data-toggle="modal" data-target="#image7" />
      </div>
      <div class="modal fade" id="image7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <img src="img/IMG_0817.JPG" class='img-responsive' style="width: 100%; height: auto;"/>
               <p>Ice forms in the Chicago River during one of the worst winters in Chicago history.</p>
          </div>
        </div>
      </div>
		</div>
    
		<div class="col-md-3">
      <div class='img-container'>
  			<img src="img/DSCN0212.JPG" class="img-responsive" data-toggle="modal" data-target="#image8" />
      </div>
      <div class="modal fade" id="image8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <img src="img/DSCN0212.JPG" class='img-responsive' style="width: 100%; height: auto;"/>
               <p>The red rooftops in the Alfama district from St. George's Castle in Lisbon.</p>
          </div>
        </div>
      </div>
		</div>
	</div>	 				

	<div class="row">
		<div class="col-md-3">
      <div class='img-container'>
  			<img src="img/IMG_1412.JPG" class="img-responsive" data-toggle="modal" data-target="#image9" />
      </div>
      <div class="modal fade" id="image9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <img src="img/IMG_1412.JPG" class='img-responsive' style="width: 100%; height: auto;"/>
               <p>The sunset on a rural road in Wilmington, Ill. in March 2014.</p>
          </div>
        </div>
      </div>
		</div>
    
		<div class="col-md-3">
      <div class='img-container'>
  			<img src="img/IMG_1838.JPG" class="img-responsive" data-toggle="modal" data-target="#image10" />
      </div>
      <div class="modal fade" id="image10" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <img src="img/IMG_1838.JPG" class='img-responsive' style="width: 100%; height: auto;"/>
               <p>Volunteers burn part of the Nachusa Grasslands to prepare for the arrival of bison.</p>
          </div>
        </div>
      </div>
		</div>
    
		<div class="col-md-3">
      <div class='img-container'>
  			<img src="img/IMG_0976.JPG" class="img-responsive" data-toggle="modal" data-target="#image11" />
      </div>
      <div class="modal fade" id="image11" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <img src="img/IMG_0976.JPG" class='img-responsive' style="width: 100%; height: auto;"/>
               <p>Lake Michigan is blanketed by snow in Dune Acres, Ind.</p>
          </div>
        </div>
      </div>
		</div>
    
		<div class="col-md-3">
      <div class='img-container'>
  			<img src="img/IMG_1553.JPG" class="img-responsive" data-toggle="modal" data-target="#image12" />
      </div>
      <div class="modal fade" id="image12" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <img src="img/IMG_1553.JPG" class='img-responsive' style="width: 100%; height: auto;"/>
               <p>A surprise gift from a coworker to celebrate the long-awaited arrival of spring.</p>
          </div>
        </div>
      </div>
		</div>				
	</div>	
					
	<div class="row">
		<div class="col-md-3">
      <div class='img-container'>
  			<img src="img/IMG_0096.JPG" class="img-responsive" data-toggle="modal" data-target="#image13" />
      </div>
      <div class="modal fade" id="image13" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <img src="img/IMG_0096.JPG" class='img-responsive' style="width: 100%; height: auto;"/>
               <p>Someone's bashful.</p>
          </div>
        </div>
      </div>
		</div>
    
		<div class="col-md-3">
      <div class='img-container'>
  			<img src="img/DSCN0929.JPG" class="img-responsive" data-toggle="modal" data-target="#image14" />
      </div>
      <div class="modal fade" id="image14" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <img src="img/DSCN0929.JPG" class='img-responsive' style="width: 100%; height: auto;"/>
               <p>Rainbows are everywhere in the Iguazu Falls.</p>
          </div>
        </div>
      </div>
		</div>
    
	</div>
</div>
{% endblock %}

