{% extends "_portfolio.html" %}

{% block content %}
<div class="container">
	<div class= "col-md-8 col-md-offset-2">
		<h3><strong>PROFESSIONAL EXPERIENCE:</strong></h3>
				<p><strong>Metro Resident</strong><p> 						              		      
				 <p>June 2012-present</p>	
					<p><em>The Chicago Tribune, Chicago, IL</em></p>

    					<p>In my first year of residency, I was based downtown, often writing about Chicago's crime and its victims. Some of my stongest work included the coverage of Hadiya Pendleton, an honors student killed in Chicago, and the toll the slaying took on the witnesses, her friends.</p>
    						<p>Over the last nine months, I've been based out of the Tribune's south suburban bureau, where I focus on enterprise work. I try to shed light on human grief, nature and suburban oddities.</p> 
    		

		<p><strong>Local Reporter</strong></p>   					                     
			<p>June 2010 - June 2012</p> 						     
				<p><em>The Chicago Tribune, Chicago, IL</em></p>
    	
    				<p>In this fast-paced role, I covered local government, education and breaking news in the northwest suburbs. Everything I produced was web-centric.</p>

    					<p>On top of my online responsibilties, I also dug up and wrote feature pieces and trend stories for our weekly publication. I carried a camera with me always to take video and photo to add to the story.</p>
    
	  
			<p><strong>Metro Desk Intern</strong></p>
				<p>March 2010 - June 2010</p> 						     
					<p><em>The Chicago Tribune, Chicago, IL   </em> </p>
		
						<p>For three months, I covered general assignments, like crime, court hearings and public meetings. Most of my pieces went into the Tribune's main news section while others found a home in the Talk and Chicagoland sections. </p>

							<p>In light of major lay-offs at Chicago area schools, I pitched and wrote a Page 1 follow-up piece focusing on the plight of recent education graduates trying to compete against veteran teachers for a spot in area schools.</p>

		
							
				<p><strong>Communities Intern</strong></p> 						     
					<p>June 2009 - July 2009 </p>
						<p><em>The Orlando Sentinel, Orlando, FL </em></p>

							<p>During my two-month internship, I penned pieces on local flooding issues, extra-fees for fire protection affecting suburban Orlando residents and XXXX.</p> 
			
							   
					<p><strong>Metro Reporter</strong></p>  						    
						<p>Aug. 2007 - May 2009 </p> 						     
							<p><em>The Daily Iowan, The University of Iowa, Iowa City, IA </em></p>

								<p>I began as a general assignment reporter, writing about two stories a week until I improved my storytelling and reporting skills. </p>

									<p>Eventually, I focused on specific topics, like health, K-12 education and women and minorities. As a beat reporter, I pitched ideas and wrote stories several times a week.</p>	

						<h3><strong>EDUCATION</strong></h3>
							<p>The University of Iowa, Iowa City, IA</p> 
							<p>B.A. Journalism and Mass Communication, Spanish</p>
	                    	<p>December 2009</p>			                
			                		
				</div>


</div>

{% endblock %}