{% extends "_portfolio.html" %}

{% block content %}

<style>  
img {max-width: 100%;}
.portfolio-row{	
	margin-bottom: 30px
}
.photo_credit{        
  font-size:12px;
  color:#999;
  font-family: 'Nothing You Could Do', cursive;
}


</style>



<div class="story container">
<div class="row portfolio-row">
{% for story in stories %}
  <div class="col-md-3 story"> 
    <div class='img-container'>
     <img src="{{story.image}}" />
   </div>
  	  <p class="photo_credit"> Photo by {{story.photo_credit}} </p>
  </div>
  <div class="col-md-3 story">
    <h4><a href="{{story.link}}" target="_blank">{{story.headline}}</a></h4>
    <p>{{ story.description }}</p>
  </div>
{% endfor %}
</div>


{% endblock content %}
